{% load static %}
<!DOCTYPE html>
<html class="dark" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>

    <title>{% block title %}StreamSync{% endblock %}</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect"/>
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet"/>

    <!-- DESPUÉS (correcto) -->
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <script src="{% static 'js/tailwind.config.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    {% block extra_styles %}{% endblock %}
</head>
<body class="bg-background-dark dark:bg-background-dark text-slate-900 dark:text-slate-100 font-display min-h-screen flex flex-col overflow-x-hidden antialiased">

     {% include "components/navbar-init.html" %}
    <main class="flex-1 w-full max-w-7xl mx-auto px-6 py-8">
        {% block content %}{% endblock %}
    </main>

    {% include "components/footer.html" %}

    {% block extra_scripts %}{% endblock %}
</body>
</html>